body {
    margin: auto;
    padding: 50px;
    color: #000;
    font-family: 'Lato', sans-serif;
    background-image: url(images/waves_2.jpg);
}

/* ---- Set up site grid ---- */

.wrapper {
    display: grid;
    grid-template-columns: 300px 2fr 400px;
    grid-template-rows: auto;
    grid-template-areas: 
        "logo banner banner"
        "side main main"
        "footer footer footer";
        grid-gap: 8px;
    
}

/* ---- End of grid setup ---- */


/* -000- Area styling -000- */

.box {
    padding: 20px;
    background-color: #ddd;
    border-radius: 20px;
}

/* Area colouring... */

/* logo, banner and footer background are the same */
.logo, .banner, .footer {
    background-color: #ad6989;  /* dark grey */
}

/* Set font on dark areas to white */
.logo, .banner, .side, .footer {
    color: #fff;
}

/* Area specifics */

.logo {
    grid-area: logo;
    padding: 0;
    width: 300px;
    height: 176.69px;
    background-color: #562349;
    background-image: url(images/fish_logo_450x225_5.png);
    
}

.banner {
    grid-area: banner;
}

.side {
    grid-area: side;
    background-color: #ffa299;
}

.main {
    grid-area: main;
    background-color: #fee2b3;  /* very pale grey */
}


.footer {
    grid-area: footer;
    text-align: right;
}

/* -000- End of area styling -000- */

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

/* Navigation Links */
.nav a {font-weight: bold;}
.nav a:link, .nav a:visited {color: #AA0000;} /*dark red */
.nav a:hover {color: #604830; text-decoration: none;} /* chocolate brown */


/* links in page */
a {font-weight: bold;}
a:link{color: #AA0000;} /*dark_red */
a:visited{color: #111177;} /* dark blue */
a:hover{color: #000;}    /* Black*/


/* Contact Form Styling */
.contact {
    width: 100%;
}


.img-circle {
    border-radius: 50%;
    max-width: 85%;
    height: auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.8);     
}

.center_image {
    text-align: center;
}

/* Sub Heading Formatting */
.sub_heading {
    font-family: 'Ubuntu', sans-serif;
    color: #593849; /* purple */
    font-weight: bold;
}




















